{% extends "gaia-x-document-template/mkdocs_base.yml.j2" %}
{% block site_name %}Gaia-X Operational Handbook{% endblock %}

{% block nav %}
nav:
- Technical_Committee.md
- deliverables_list.md
- 'Working Groups KPI': 'https://gaia-x.gitlab.io/toolset/generate-kpi/'

{% endblock %}

#theme: readthedocs
#  features:
#    - navigation.top
